.profile__edit-button {
    text-decoration: none;
    border: none;
    background-color: Transparent;
    padding: 0;
    cursor: pointer;
    align-self: center;
    height: 24px;
}

.profile__edit-button:hover {
    opacity: .5;
}

@media screen and (max-width: 320px) {
    .profile__edit-button {
        height: 18px;
    }
}