.popup__input {
    border: none;
    padding: 0;
    width: 358px;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 13px;
    margin: 0 0 30px 36px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}


/* .popup__input:invalid { */


/* border-bottom: 1px solid red; */


/* } */

@media screen and (max-width: 550px) {
    .popup__input {
        width: 238px;
        margin: 0 0 30px 22px;
    }
}