.profile__add-button {
    text-decoration: none;
    background-color: Transparent;
    padding: 0;
    margin: auto 0 auto auto;
    cursor: pointer;
    border: solid 2px #FFFFFF;
    width: 150px;
    height: 50px;
    border-radius: 2px;
}

.profile__add-button:hover {
    opacity: .5;
}

@media screen and (max-width: 660px) {
    .profile__add-button {
        margin: 31px auto 0 auto;
        width: 282px;
    }
}