.profile__info {
    display: flex;
    max-width: 500px;
    flex-wrap: wrap;
    align-self: center;
}

@media screen and (max-width: 660px) {
    .profile__info {
        justify-content: center;
    }
}