.element__container-like {
    cursor: pointer;
    background-image: url(../../../image/like.svg);
    width: 22px;
    background-repeat: no-repeat;
    background-position: center;
}

.element__container-like:hover {
    opacity: .5;
}