.element__container-like {
    cursor: pointer;
    background-image: url(../../../image/like.svg);
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
}

.element__container-like:hover {
    opacity: .5;
}